{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div style="margin-top: 20px" class="col-sm-12">
        <article style="padding: 0 15px 5px 15px" class="panel panel-default">
            <div  class="panel-heading purple">
                <h2 class="panel-title">Электронный блокнот питания Максима</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Неделя</th>
                        <th>Вес</th>
                        <th>Рост</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in table %}
                        <tr>
                            <th class="time-eat" scope="row">{{ item.week }}</th>
                            <td>{{ item.weight }}</td>
                            <td>{{ item.lenght }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </article>
        <div>
            <form style="height: 50px" method="POST">{% csrf_token %}
                <span style="color: red">{{ form.time.errors }}</span>
                <div class="col-xs-2">
                    {{ form.week|add_class:'form-control input-digit'|attr:'placeholder:Неделя' }}
                </div>
                <div class="col-xs-2">
                    {{ form.weight|add_class:'form-control input-digit'|attr:'placeholder:Вес' }}
                </div>
                <div class="col-xs-2">
                    {{ form.lenght|add_class:'form-control input-digit'|attr:'placeholder:Рост' }}
                </div>
                <div class="col-xs-2">
                    <button style="background: #b700b7; width: 90px; color: white" class="btn btn-default" type="submit">Записать</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
